:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(142, 142, 142);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  word-break: break-word;
}

body {
  display: flex;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  gap: 1rem;
  align-items: center;
}

.header-logo {
  width: 100%;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.header-logo > h1 {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.header-logo > i {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(136, 140, 209);
}

.header-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-type-of-saving {
  background-color: rgb(36, 36, 36);
  width: 100%;
}

.type-of-saving {
  padding: 1rem;
}

.type-of-saving:hover {
  background-color: rgba(136, 140, 209, 0.7);
  color: white;
}

.type-of-saving.active {
  background-color: rgb(136, 140, 209);
  color: black;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

a {
  font-weight: 500;
  color: #535bf2;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

input,
button,
textarea {
  border-radius: 8px;
  border: 1px solid rgb(136, 140, 209);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: rgb(42, 42, 42);
  font-family: inherit;
  color: white;
  transition: border-color 0.25s;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

input,
textarea {
  box-shadow: none;
  border: 1px solid #9c9c9c;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  outline: none;
  border-color: rgb(136, 140, 209);
}

button {
  cursor: pointer;
  background-color: rgb(136, 140, 209);
}

button:hover {
  border-color: #535bf2;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

.modal {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

.modal-form > input {
  margin-bottom: 1rem;
}

.modal-form > button {
  align-self: flex-end;
}

.modal-content {
  background-color: rgb(42, 42, 42);
  padding: 20px;
  width: 70%;
  max-height: 80%;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-form {
  padding: 1rem;
  flex-direction: column;
  display: flex;
}

.error {
  color: red;
  font-weight: bold;
  padding: 1rem;
}

.ql-editor {
  min-height: 200px;
}

.ql-toolbar.ql-snow {
  border-radius: 8px 8px 0 0;
  color: white !important;
  border: 1px solid #9c9c9c !important;
}

.ql-snow .ql-picker {
  color: white !important;
}

.ql-snow .ql-picker-options {
  background-color: rgb(42, 42, 42) !important;
  color: white !important;
}

.ql-picker-item:hover,
.ql-picker-item.ql-selected,
.ql-picker-label:hover {
  color: #535bf2 !important;
}

.ql-snow .ql-stroke {
  stroke: white !important;
}

.ql-container.ql-snow {
  border-radius: 0 0 8px 8px;
  border: 1px solid #9c9c9c !important;
  border-top: none !important;
}

#editor {
  border-radius: 0 0 8px 8px;
}

.close {
  float: right;
  cursor: pointer;
}

.content {
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

.content > #notes {
  max-height: 100%;
  width: 30%;
  border-right: 1px solid rgb(58, 58, 58);
  padding-top: 1rem;
  height: 100vh;
  overflow: scroll;
}

.content > div:last-child {
  border-right: none;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.note-preview {
  background-color: rgb(79, 79, 79);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  max-height: 100%;
  overflow: scroll;
}

.note-card {
  white-space: pre-wrap;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 0 0.625rem;
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  font-family: inherit;
  word-break: break-word;
}

.note-title {
  display: flex;
  align-items: end;
  gap: 0.2rem;
}

.note-content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note-title-text {
  font-weight: 500;
}

.note-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 0.625rem;

  padding-bottom: 1rem;
}

.note-header > i {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: rgb(136, 140, 209);
}

.note-content {
  padding-top: 1rem;
}

.note-content > p {
  padding-top: 1rem;
}

.note-content > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1rem;
}

.note-header:last-child() {
  color: red;
}
